body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; 
  background-color: transparent !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cm-editor {
  height: 100%;
  flex-grow: 1;
  background-color: transparent !important;
}

.cm-scroller {
  overflow: auto;
}

.cm-editor.cm-focused {
  outline: none;
}

a {
    pointer-events: none;
    cursor: default;
}

.cm-content {
  padding-bottom: 128px !important;
}
